<form action="." method="post">
  {% csrf_token %}
  <table>
    {% for todo in todos %}
      <tr>
        <td><input type="checkbox" name="todos" value="{{ todo.id   }}"></td>
        <td>{{ todo.title }}</td>
        <td>{{ todo.created_at }}</td>
      </tr>
    {% endfor %}
  </table>
  <button type="submit">Submit</button>
</form>


<form action="." method="post">
  {% csrf_token %}
  <table>
    {% for field in form %}
      <tr>
        <td>{{ field }}</td>
        <td>{{ todo.title }}</td>
        <td>{{ todo.created_at }}</td>
      </tr>
    {% endfor %}
  </table>
  <button type="submit">Submit</button>
</form>